[Desktop Entry]
Name=Chromium
GenericName=Web Browser
Comment=Browse the World Wide Web
Exec=chromium-browser %U
Icon=chromium-browser
Terminal=false
Type=Application
X-MultipleArgs=false
Categories=GTK;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Chromium
StartupNotify=true
